h1 =@user.email

h2 = link_to 'Guitar', guitar_user_path(@user.id)
= render 'skills/summary', skills: @guitar_skills, goals: @guitar_goals

h2 = link_to 'Drum', drum_user_path(@user.id)
= render 'skills/summary', skills: @drum_skills, goals: @drum_goals
